:root {
    --gris-fondo: #1A2537;
    --Blanco: #1F2A3D;
    --blanco_letra: #ffffff;
    --azul: #006aff;
    --fuente: sans-serif;
    --negro-principal: #ffffff;
    --negro: #000000;
    --gris: #ffffff;
    --gris-claro: #ffffff;
    --verde: #006412;
}